<div *ngIf="car" class="car-detail-container">
    <button class="back-button" (click)="goBack()">← Back</button>
    <div class="car-detail-content">
      <h1 class="car-model">{{ car.model }}</h1>
      <div class="car-details">
        <div class="car-details-row">
          <p><strong>Engine:</strong> {{ car.engine }}</p>
          <p><strong>Type:</strong> {{ car.type }}</p>
        </div>
        <div class="car-details-row">
          <p><strong>Price:</strong> ${{ car.price | number:'1.0-2' }}</p>
          <p><strong>HP:</strong> {{ car.hp }}</p>
        </div>
      </div>
    </div>
  </div>
  